
{% if config.frontend.includeHusky %}
dist
node_modules
coverage
.git
*.md
pnpm-lock.yaml
package-lock.json
{% else %}
# Prettier ignore configuration is disabled. Enable "Include Husky" in configuration to use this file.
{% endif %}
